@model IEnumerable<LotusPark.Models.Reservas>

@{
    ViewData["Title"] = "Lista de Reservas";
}

<h1>Lista de Reservas</h1>
<p>
    <a asp-action="Create">Nova Reserva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataSaida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            @if (!User.IsInRole("Cliente")) {
                <th>
                    @Html.DisplayNameFor(model => model.Cliente)
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataSaida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            @if (!User.IsInRole("Cliente"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Nome)
                </td>
            }

            @if (User.IsInRole("Cliente"))
            {
                <td>
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                </td>
            }else{
                <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                </td>
                }
        </tr>
}
    </tbody>
</table>
